:root {
  --font-size: 22px;
  --baseline: 1.7em;
  --primary: #400400;
}

body {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-size: var(--font-size);
  line-height: var(--baseline);
  padding: var(--baseline);
  color: var(--primary);
  cursor: default;
  text-transform: lowercase;
}

p, ul, h1, h2, h3, h4, h5, h6 {
  margin: var(--baseline) 0;
}

h1 {
  font-weight: 600;
  font-size: inherit;
  margin: 0;
}

h1 .invisible-email {
  /* fix weird chrome behaviour where opacity in .hidden-email would animate on page load */
  visibility: hidden;
}

h1 .hidden-email {
  opacity: 0;
  transition: opacity .5s;
}

h1 .shown-email {
  opacity: 1;
  transition: opacity .5s;
}

nav {
  font-weight: 200;
}

nav ul {
  padding: 0;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

nav a:hover {
  border-bottom: dotted 1px #22f;
}

@media only screen and (max-width: 580px) {
  li {
    margin: var(--baseline) 0;
  }
}
