html, body {
  height: 100%;
}

body {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.7em;
  text-align: center;
  color: #890067;
  background: #000;
  cursor: default;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  align-content: center;
}

.wrapper {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  animation-name: expand-dot;
  animation-duration: 1s;
  box-shadow: 0 0 0 20px #890067, 0 0 0 40px #560041, 0 0 0 60px #23001A;
  overflow: hidden;
  width: 100%;
  height: calc(100% - 80px);
  margin-top: 80px;
  box-shadow: 0 -20px #890067, 0 -40px #560041, 0 -60px #23001A;
}

section {
  height: 11.9em;
  opacity: 1;
  visibility: visible;
}

h1 {
  font-weight: 600;
  font-size: inherit;
  margin: 0;
  margin-right: -3ch;
  opacity: 1;
}

nav {
  font-weight: 200;
}

nav li {
  display: inline;
}

nav a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

nav a:hover {
  border-bottom: dotted 1px #22f;
}

.info {
  border-bottom: dotted 1px #222;
  cursor: pointer;
}

footer {
  font-size: 10px;
}

@media only screen and (max-width: 580px) {
  body {
    font-size: 18px;
  }
}

@media only screen and (max-width: 500px) {
  body {
    font-size: 16px;
  }
}

@media only screen and (max-width: 440px) {
  body {
    font-size: 14px;
  }
}

@media only screen and (max-width: 360px) {
  body {
    font-size: 12px;
  }
}
